/*메뉴 색상*/
.menu {
  background-color: rgb(0, 0,0,0.8);
  padding: 10px;
  
}
/*footer 색상*/
.footer {
  background-color: rgb(0, 0,0,0.8);
  padding: 10px;
  
}
ul
{
	list-style: none;
}

/*메뉴 ul 스타일*/
.menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

/*메뉴 li 스타일*/
.menu li {
	background-color: rgb(102, 102, 255,0.8);
  padding : 10px;
  border : 1px groove #f4f4f4;
  border-radius : 7px;
  box-shadow : 0px 0px 1px 1px black;
}
/*메뉴 a 스타일*/
.menu a {
  color: white;
  text-decoration: none;
}
/*footer a 스타일*/
.footer a {
  color: white;
  text-decoration: none;
}
.footer p {
  color: white;
  text-decoration: none;
}

/*메뉴 모든 파일의 body 스타일*/
body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
/*li 스타일링*/
.margin-1{
	margin : 1px;
}
/*푸터 밑에 띄어쓰기용*/
.margin-170{
	margin-left : 170px;
}
/*이벤트 정보 텍스트 비율 맞추기*/
.margin-590{
	margin-left : 590px;
}
/*띄어쓰기용*/
.margin-20{
	margin-left : 20px;
}
/*로그인과 회원 가입을 나누기 위한 margin-left 850px*/
.margin-50{   
	margin-left : 850px;
}
/*li 폰트*/
.container {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/*이미지 처음 띄어쓰는용*/
.margin-40	
{
	margin-left:40px;
}


